@page "/todo"
<h3>Todo</h3>

<p role="status">Current count:@Res </p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private string Res = " ";
     public void IncrementCount()
    {
        DBProc db1 = new DBProc();
        Res=db1.Dbinquiry();
    }
}
